body {
    min-height: 100vh;
    width: 100%;
    background: #F9F9F9;
}

header {
    transition: all 0.5s ease;
}

header .ac-icon {
    width: 40px;
}

header .profile-menu {
    width: 150px;
    background: var(--footer-dark);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 9999;
    transition: all 0.5s ease;
    display: none;
}

header .profile-menu .nav-list {
    height: 100%;
    padding: 6px 14px;
}

header .profile-menu li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

header .profile-menu li a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    opacity: 0.9;
    padding: 10px 13px;
}

header .profile-menu li a:hover,
header .profile-menu li a:focus,
header .profile-menu li a.active {
    background: rgba(255, 255, 255, 0.25);
    border-left: 5px solid white;
}

header .profile-menu li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s;
}

header .profile-menu li a:hover .links_name {
    transition: all 0.5s ease;
    color: white;
}

header .profile-menu li img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    margin-right: 13px;
}

header .mobile-menu {
    width: 220px;
    background: var(--footer-dark);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 9999;
    transition: all 0.5s ease;
    display: none;
    border-left: none;
}

header .mobile-menu .nav-list {
    height: 100%;
    padding: 6px 14px;
}

header .mobile-menu .nav-list .tooltip {
    display: none;
}

header #btnMobileMenu {
    transition: all 0.4s ease;
    cursor: pointer;
}

.for-mobile {
    display: none;
}

header .mobile-menu li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

header .mobile-menu li a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    opacity: 0.9;
    padding: 10px 13px;
    color: var(--light-text);
}

header .mobile-menu li a:hover,
header .mobile-menu li a:focus,
header .mobile-menu li a.active {
    background: rgba(255, 255, 255, 0.25);
    border-left: 5px solid white;
}

header .mobile-menu li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s;
}

header .mobile-menu li a:hover .links_name {
    transition: all 0.5s ease;
    color: white;
}

header .mobile-menu li img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    margin-right: 13px;
}

header #navList {
    margin-right: 20px;
}

header #navList li {
    margin: 0px 10px;
}

header #navList li a {
    color: var(--light-text);
    transition: all 0.4s ease;
}

header #navList li a:hover,
header #navList li a:focus,
header #navList li a.active,
header #navList li a:active {
    color: var(--primary-2);
}

main .content {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main .content section {
    min-height: 80px;
}

main .content .hero-image {
    background-image: url('../images/hero_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}

main .content .gradient-overlay {
    width: 100%;
    height: 100%;
    background: rgb(48, 54, 76);
    background: radial-gradient(circle, rgba(48, 54, 76, 0.22452731092436973) 0%, rgba(48, 54, 76, 0.5886729691876751) 16%, rgba(48, 54, 76, 0.8295693277310925) 38%, rgba(48, 54, 76, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .form-field {
    width: 85%;
    margin: 10px 0px;
    position: relative;
}

main .form-field .btn-right-icon {
    position: absolute;
    /* right: calc(50%+10px); */
    right: 20px;
    top: calc(50% - 10px);
}

main .input-box input {
    outline: none;
}

main .input-box input::placeholder {
    color: var(--secondary-2);
    font-weight: 400;
    opacity: 0.5;
}

main .input-box input[type="text"],
main .input-box select,
.btn {
    width: 100%;
    height: 45px;
    background: #F9F9F9;
    padding: 0px 10px;
    border-style: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

main .input-box input[type="text"]:hover,
main .input-box select:hover,
.btn:hover {
    filter: brightness(95%);
}

main .input-box input[type="button"] {
    background: #fff;
    color: var(--secondary-2);
    border-style: none;
    background: var(--footer-light);
    color: var(--light-text);
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

main .input-box .form-field {
    display: flex;
    flex-direction: column;
}

main .content .input-box input[type="button"]:hover {
    filter: brightness(200%);
}

main .content .question-para {
    width: 100%;
    height: 60px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}

main .faq .question-para:before {
    content: '►';
    margin-right: 10px;
}

main .faq .question-para.active:before {
    content: "▼";
}

main .faq .answer-para {
    width: 85%;
    color: var(--footer-dark);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
}

main .faq .answer-para.show {
    opacity: 1;
    max-height: 500px;
    padding: 10px 0px;
}

main .location-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    margin: 30px;
}

main .location-item img {
    width: 24px;
    margin-right: 15px;
}

footer {
    background: var(--footer-light);
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer .content {
    width: 85%;
    margin: auto;
    padding: 40px 0px;
}

footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

footer .content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

footer .content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
}

footer .content .link-boxes .box li a {
    color: var(--footer-text);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

footer .content .link-boxes .box li:hover {
    filter: brightness(200%);
}

a:hover,
a:active {
    filter: brightness(110%);
}

footer .content .link-boxes .input-box {
    margin-right: 55px;
}

footer .link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}

footer .link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
}

footer .link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

footer .input-box input[type="button"]:hover {
    opacity: 1;
}

footer .bottom-details {
    width: 100%;
    background: var(--footer-dark);
}

footer .bottom-details .bottom_text {
    width: 85%;
    padding: 25px 0px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer .bottom-details .bottom_text span,
footer .bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

footer .bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

footer .bottom-details .bottom_text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .for-desktop {
        display: none;
    }
    .for-mobile {
        display: flex;
    }
    header .logo {
        height: 18px;
    }
}

@media (max-width: 700px) {
    footer {
        position: relative;
    }
    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 60%;
    }
    footer .bottom-details .bottom_text span,
    footer .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box {
        width: 100%;
    }
}

.btn {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}